version: '3.7'

services:

  postgres:
    image: postgres:15
    container_name: ecommune_postgres
    restart: always
    environment:
      POSTGRES_DB: ma_base_dev
      POSTGRES_USER: dev_user
      POSTGRES_PASSWORD: dev_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: ecommune_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@samory.dev
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5050:80"
    depends_on:
      - postgres
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  postgres_data:
  pgadmin_data:
